<div *ngIf="questionList" [@pageInOut]="'in'">
    <div class="container">
        <ngb-alert *ngIf="alert?.success" (close)="clearSucces()" type="success">
            <strong>Success!</strong> {{ alert?.success }}
        </ngb-alert>

        <ngb-alert *ngIf="alert?.error" (close)="clearError()" type="danger">
            <strong>Error!</strong> {{ alert?.error }}
        </ngb-alert>

        <ngb-tabset type="pills">

            <ngb-tab title="ADD">
                <ng-template ngbTabContent>
                    <div [@elementInOut]="">
                        <div class="row question">
                            <div class="col-12 my-2">
                                <label for="newQuestion">
                                    <b>Insert question title</b>
                                </label>
                                <input class="form-control" id="newQuestion" [(ngModel)]="newQuestion.title" placeholder="Question's title" ngbTooltip="Enter the title for a question!"
                                    triggers="focusin:focusout" placement="bottom">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-5 answer m-3" *ngFor="let answer of newQuestion.answers; let i = index;" ngbTooltip="Enter the title for an answer!"
                                        triggers="focusin:focusout">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="numerator" [ngClass]="{'selected': answer?.isCorrect && answer.title != null }" (click)="changeCorrectAnswer(newQuestion, answer)"
                                                ngbTooltip="Choose a correct answer!" triggers="mouseenter:mouseleave" placement="bottom">#{{ i + 1 }}</span>
                                            <input class="form-control" name="title" [(ngModel)]="newQuestion.answers[i].title" placeholder="Answer's title">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-10 my-2">
                                <select class="form-control" id="category" [(ngModel)]="selectedCategory">
                                    <option *ngFor="let category of categoryList; index as i" [ngValue]="category">
                                        #{{ i + 1 }} {{ category.title }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-2 my-2 align-self-center">
                                <i class="fa fa-plus fa-2x" aria-hidden="true" (click)="addCategory(newQuestion, selectedCategory)" ngbTooltip="Add a category!"
                                    triggers="mouseenter:mouseleave"></i>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-auto" *ngFor="let category of newQuestion.categoryList" [@elementInOut]="">
                                <h5>
                                    <span class="badge badge-secondary">{{ category.category.title }}
                                        <i class="fa fa-times" aria-hidden="true" (click)="deleteCategory(newQuestion, category.category)"></i>
                                    </span>
                                </h5>
                            </div>
                        </div>

                        <div class="row mx-3">
                            <button class="col-12 btn btn-orangered" (click)="addQuestion()">
                                ADD
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="EDIT">
                <ng-template ngbTabContent>

                    <div [@elementInOut]="">
                        <div *ngIf="selectedQuestion">
                            <div class="row">
                                <div class="col-12 my-2">
                                    <label for="chooseQuestion">
                                        <b>Choose question for edit</b>
                                    </label>
                                    <select class="form-control" id="chooseQuestion" [(ngModel)]="selectedQuestion">
                                        <option *ngFor="let question of questionList; index as i" [ngValue]="question">
                                            #{{ i + 1 }} {{ question.title }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Title:</h2>
                                </div>

                                <div class="col-sm-8">
                                    <form>
                                        <input class="form-control" [(ngModel)]="selectedQuestion.title" name="title" ngbTooltip="Enter the title for a question!"
                                            triggers="focusin:focusout" placement="bottom">
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Answers:</h2>
                                </div>

                                <div *ngIf="selectedQuestion.answers">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6 answer my-1" *ngFor="let answer of selectedQuestion.answers; let i = index;" ngbTooltip="Enter the title for an answer!"
                                                triggers="focusin:focusout">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="numerator" [ngClass]="{'selected': answer.isCorrect }" (click)="changeCorrectAnswer(selectedQuestion, answer)"
                                                        ngbTooltip="Choose a correct answer!" triggers="mouseenter:mouseleave"
                                                        placement="bottom">#{{ i + 1 }}</span>
                                                    <input class="form-control" name="title" [(ngModel)]="selectedQuestion.answers[i].title" placeholder="Answer's title">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row my-3">
                                <div class="col-10 my-2">
                                    <select class="form-control" id="category" [(ngModel)]="selectedCategory">
                                        <option *ngFor="let category of categoryList; index as i" [ngValue]="category">
                                            #{{ i + 1 }} {{ category.title }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-2 my-2 align-self-center">
                                    <i class="fa fa-plus fa-2x" aria-hidden="true" (click)="addCategory(selectedQuestion, selectedCategory)"></i>
                                </div>
                            </div>

                            <div class="row my-3">
                                <div class="col-auto" *ngFor="let category of selectedQuestion.categoryList" [@elementInOut]="">
                                    <h5>
                                        <span class="badge badge-secondary">{{ category.category.title }}
                                            <i class="fa fa-times" aria-hidden="true" (click)="deleteCategory(selectedQuestion, category.category)" ngbTooltip="Delete a category!"
                                                triggers="mouseenter:mouseleave"></i>
                                        </span>
                                    </h5>
                                </div>
                            </div>

                            <div class="row mx-3">

                                <button class="col-12 btn btn-orangered" (click)="updateQuestion()">
                                    UPDATE
                                </button>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="DELETE">
                <ng-template ngbTabContent>
                    <div [@elementInOut]="">
                        <div class="row">
                            <div class="col-12 my-2">
                                <label for="chooseQuestion">
                                    <b>Choose question to delete</b>
                                </label>
                                <select class="form-control" id="chooseQuestion" [(ngModel)]="selectedQuestion">
                                    <option *ngFor="let question of questionList; index as i" [ngValue]="question">
                                        #{{ i + 1 }} {{ question.title }}
                                    </option>
                                </select>
                            </div>
                        </div>



                        <div class="row mx-3 mt-5">

                            <button class="col-12 btn btn-orangered" (click)="deleteQuestion()">
                                DELETE
                            </button>

                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="RESTORE">
                <ng-template ngbTabContent>
                    <div [@elementInOut]="">
                        <div class="row">
                            <div class="col-12 my-2">
                                <label for="chooseQuestion">
                                    <b>Choose question to restore</b>
                                </label>
                                <select class="form-control" id="chooseQuestion" [(ngModel)]="questionToRestore">
                                    <option *ngFor="let question of deletedQuestionList; index as i" [ngValue]="question">
                                        #{{ i + 1 }} {{ question.title }}
                                    </option>
                                </select>
                            </div>
                        </div>



                        <div class="row mx-3 mt-5">

                            <button class="col-12 btn btn-orangered" (click)="restoreQuestion()">
                                RESTORE
                            </button>

                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</div>
